@model SweetMoive.Areas.AdminPerson.Models.LoginViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    @Styles.Render("~/Content/Flat-UI")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body style="background-color: gainsboro;">
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/Flat-UI")
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="login-form" style="width:400px;margin:250px auto;">
            <h4 class="text-center">SweetMovie后台登录</h4>
            @Html.ValidationSummary(true,"",new { @class="text-danger"})
            <div class="form-group">
                @Html.EditorFor(model=>model.Accounts,new { htmlAttributes=new { @class="form-control login-field",placeholder="请输入账号"} })
                @Html.ValidationMessageFor(model=>model.Accounts,"",new { @class="text-danger"})
                <label class="login-field-icon fui-user" for="Accounts"></label>
            </div>
            <div class="form-group">
                @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control login-field", placeholder = "请输入密码" } })
                @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                <label class="login-field-icon fui-lock" for="Password"></label>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="登录" />
        </div>
    }
</body>
</html>
