
@{
    ViewBag.Title = "待审核文章管理";
}

<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">待审核文章管理</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
            <table id="auditarticlegrid"></table>
        </div>
</div>
@section style{
    @Styles.Render("~/Content/bootstrapplugincss")
}
@section scripts{
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrapplugin")
    <script>
        //通过审核
        function PassArticle(id, username, status) {
            BootstrapDialog.confirm("确定对用户【" + username + "】的文章给与当前审核状态", function (result) {
                if (result) {
                    $.post("@Url.Action("PassArticle", "Article")", { id: id, status: status }, function (data) {
                        BootstrapDialog.alert(data.Message);
                    }, "json");
                }
            });
        };
        //通过审核结束
        $(document).ready(function () {

            //表格
            var $table = $('#auditarticlegrid');
            $table.bootstrapTable({
                toolbar: "#toolbar",
                showRefresh: true,
                showColumns: true,
                pagination: true,
                sidePagination: "server",
                pageSize: 5,
                pageList: "[5,10]",
                method: "post",
                url: "@Url.Action("AuditPageListJson")",
                queryParams: queryParams,
                columns: [
                    { title: "ID", field: "ID" },
                    { title: "用户名", field: "User.Username" },
                    { title: "电影名称", field: "Movie.MovieName" },
                    { title: "发布时间", field: "Releasetime", formatter: function (value) { return moment(value).format("YYYY-MM-DD HH:mm:ss") } },
                    { title: "文章标题", field: "Title" },
                    { title: "文章内容", field: "Content",visible:false },
                    { title: "审核状态", field: "Auditstatus", formatter: function (value) { var audit = ["审核不通过","审核通过","待审核"]; return audit[value]; } },
                    { title: "操作", field: "ID", formatter: function (value, row, index) { return "<a href=\"javascript:void(0)\" onclick=\"PassArticle(" + value + ",'" + row.User.Username + "'," + 1 + ")\" data-method='Audit' class='btn btn-primary'>通过</a>&nbsp;&nbsp;<a href=\"javascript:void(0)\" onclick=\"PassArticle(" + value + ",'" + row.User.Username + "'," + 0 + ")\" data-method='Audit' class='btn btn-primary'>不通过</a>" } }
                ]
            });
            //表格结束
            //表格传值
            function queryParams(params) {
                return {
                    pageSize: params.limit, //每一页的数据行数，默认是上面设置的5(pageSize)
                    pageIndex: params.offset / params.limit + 1, //当前页面,默认是上面设置的1(pageNumber)
                }
            }
            //传值结束
        });
    </script>
}


